.home {
    height: 100%;
}

.home h1 {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid silver;
}

.home-landing {
    height: 100%;
}

.home-landing .background {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-landing .delivery {
    left: 50%;
    bottom: 3%;
    transform: translate(-50%, 0);
    height: 20%;
    width: auto;
    object-fit: cover;
    position: absolute;
}

.home-landing .discount {
    right: 3%;
    top: calc(4rem + 3%);
    height: 20%;
    width: auto;
    object-fit: cover;
    position: absolute;
}

.landing-content {
    top: 50%;
    left: 5%;
    transform: translate(0, -50%);
    width: 33%;
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.landing-content p {
    margin: 10px 0;
    font-size: 24px;
}

.landing-content img {
    width: 75%;
    height: auto;
    margin: auto;
}

.landing-content button {
    background-color: #2691d9;
    border-radius: 25px;
    border: none;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.landing-content button:hover {
    background-color: #2283c3;
}

.landing-content button a {
    text-decoration: none;
}

.landing-content button h2 {
    color: white;
    font-weight: bold;
}

.home-section {
    width: 75%;
    margin: auto;
}

.home-content {
    margin-bottom: 25px;
    background: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
    display: flex;
}

.home-content p {
    color: black;
    text-align: center;
    word-wrap: break-word;
    font-size: 18px;
}

.about-info {
    width: 50%;
}

.about-location {
    width: 50%;
    height: 500px;
    border: 2px solid black;
    margin: 25px;
}


.home-contact {
    margin-bottom: 25px;
    background: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
    padding: 10px 25px;
}

.form-input textarea {
    width: 100%;
    height: 400px;
    resize: none;
}

.contact-submit{
    width: 100%;
    height: 50px;
    border: 1px solid;
    border-radius: 25px;
    font-size: 18px;
    cursor: pointer;
    color: white;
    background-color: #2691d9;
}

.contact-submit:hover{
    background-color: #2283c3;
}